<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-label>Romance</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-label>Terror</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-label>Fantasia</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
