<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Romance
    </ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content>
    <div *ngFor="let filme of filmes">
      ID do filme:{{filme.id}}<br>
      Título:{{filme.title}}<br>
      Avaliações:{{filme.vote_count}}<br><br>
    </div>
</ion-content>
